.tabOptions{
    width: max-content;
    min-width: 100%;
    display: flex;
    position: relative;
    -webkit-box-pack: start;
    justify-content: flex-start;
    background-color: transparent;
    overflow-x: auto;
    border-bottom: 1px solid #f4f4f4;
}

.tabName{
    font-weight: 400;
    font-size: 1.5rem;
    margin-left: 10px;
    color:rgb(105, 105, 105);
}

.tabImage{
    height:30px;
    width:30px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.tabImgContainer{
    height:60px;
    width:60px;
    border-radius: 50%;
    background-color:rgb(248, 248, 248);
}

.setAlign{
    width: 90%;
 
}
.setFontRed{
    color:#f05e6d;
}

.actTab{
    border-bottom: 2px solid #f05e6d;
}

.tabItem{
    width: 15rem;
    display: flex;
    align-items: center;
    align-items: center;
}